a:active {  color: #000000; text-decoration: none}
a:hover {  color: #0D9EFF; text-decoration: none}
a:link {  color: #000000; text-decoration: none}
a:visited {  color: #000000; text-decoration: none}

td {
	font-size: 12px
}

.phonemsgbox {
	width:100px; height:84px;
	font-family:µ¸¿òÃ¼;
	font-size:9pt;
	overflow:hidden;
	border-style:none;
	border-top-width:0px;
	border-bottom-width:0px;
	background:none;
}

.phonemsglen {
	font-family:µ¸¿òÃ¼;
	font-size:9pt;
	overflow:hidden;
	border-style:none;
	border-top-width:0px;
	border-bottom-width:0px;
	background:none;
}

.smsmsgbox {
	cursor:hand;
	width:100px; height:70px;
	font-family:µ¸¿òÃ¼;
	font-size:9pt;
	overflow:hidden;
	border-style:none;
	border-top-width:0px;
	border-bottom-width:0px;
	background:none;
}

