body{
    margin-left: 0;
    margin-top: 20px;
    font-size:20px;
    text-align:center;
    min-width: 400px;
}


#mtitle{
    display: inline-block;
    width:360px;
    border:0px solid rgb(30, 108, 210);
    background-color: cornflowerblue;
    border-radius: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
 }

#mtitle3{
    display: inline-block;
    width:360px;
    border:0px solid rgb(30, 108, 210);
    background-color: cornflowerblue;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
	color:white;
 }

#reg_btn{
    display: inline-block;
    width:360px;
    border:0px solid rgb(30, 108, 210);
    background-color: #B7F0B1;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
	cursor:pointer;
 }

#reg_btn2{
    display: inline-block;
    width:360px;
    border:0px solid rgb(30, 108, 210);
    background-color: #B7F0B1;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
	cursor:pointer;
	font-size:20px;
 }



#mtitle2{
    display: inline-block;
    width:380px;
 }

#lang_div{
  padding-top:1vh;
}

.lselect{
  width:400px;
  font-size:5vw;
  border-radius: 5px;
  text-align-last: center;
  padding-top:3px;
  padding-bottom:3px;
}

#mdiv{
  display: inline-block;
  width:400px;
  padding-top: 30px;
  border:0px solid rgb(30, 108, 210);
	line-height:50px;
}

#abtn2{
  font-size:12px;
  font-weight:bold;
  border-radius: 5px;
  border:1px solid rgb(30, 108, 210);
}

#abtn{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:26px;
  padding-right:26px;
  font-size:12px;
  font-weight:bold;
  border-radius: 5px;
  border:1px solid rgb(30, 108, 210);
  background-color: #D9E5FF;
  text-decoration: none;
}

#mdiv form select, input{
	font-size:18px;
	border:1px solid rgb(30, 108, 210);
}

#mdiv2{
	text-align:left;
  display: inline-block;
  width:400px;
  border:0px solid rgb(30, 108, 210);
	font-size:12px;
	font-weight:bold;
	/*padding-bottom:10px;*/
}

#mdiv3{
  display: inline-block;
  width:400px;
  padding-top: 10px; padding-bottom: 10px;
  border:0px solid rgb(30, 108, 210);
  font-size:14px;
	line-height:30px;
}

#mdiv3 span{
	border:0px solid rgb(30, 108, 210);
}

#mbtn{
	display: inline-block;
    background-color: cornflowerblue;
	padding:10px;
	border-radius: 10px;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	color:white;
	width:100px;
}



/* 필수입력 */
input.required {
	background-image:url('../images/require.png') !important;
	background-repeat:no-repeat !important;
	background-position:right top !important;
}